body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
  margin: 0;
  width: device-width;
}
a {
	text-decoration: none;
	border-bottom: 1px dotted;
	padding-bottom: .1em;
}
a:link {
    color: #000000;
  }
a:visited {
    color: #191970;
  }
a:focus {
	color: #FCFCFC;
}
